* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

body, html {
    height: 94%;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

aside {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
}

aside ul {
    list-style-type: none;
}

main {
    float: right;
    width: 80%;
    height: 100%;
    padding: 25px;
}

.profile-picture {
    display: block;
    width: 100%;
    height: auto; 
    margin-bottom: 20px;
    max-height: fit-content;
    border-radius: 50%;
}
