* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100%;
}

header {
    background-color: #382b73;
    color: #ffffff;
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
}

header h1 {
    font-size: 0.8rem;
}

aside {
    background-color: #dddddd;
    position: fixed;
    float: left;
    height: 100%;
    width: 30%;
    margin-top: 2rem;
    padding: 1.2rem;
}

aside ul {
    list-style-type: none;
    text-align: center;
    padding-top: 0.5rem;
}

aside li {
    margin-bottom: 1rem;
}

main {
    display: flex;
    height: 100%;
    float: right;
    width: 70%;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

main h2, main h3 {
    margin-bottom: 5px;
}

main p {
    margin-bottom: 20px;
}   

main ul {
    margin-left: 15px;
}

a {
    color: slateblue;
    text-decoration: none;
}

a:hover {
    color: deepskyblue;
    text-decoration: underline;
    transition: .5s;
}

.icon {
    height: 6rem;
    width: auto;
    border-radius: 50%;
}


#profile-picture {
    display: block;
    width: 100%;
    height: auto; 
    margin-bottom: 20px;
    max-height: fit-content;
    border-radius: 50%;
}

.card {
    text-align: center;
    background-color: #efefef;
    display: grid;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    padding: 2vh;
    border-radius: 2ch;
}

#home,
#contact,
#projects {
    display: none;
}

#home:target,
#contact:target,
#projects:target {
    display: block;
}

@media (min-width: 1000px) {
    * {
        font-size: xx-large;
    }

    aside {
        width: 15%;
    }

    main {
        width: 85%;
        padding: 3rem;
    }

    main h2 {
        margin-top: 1rem;
        font-size: larger;
    }

    main h2, main h3 {
        margin-bottom: 10px;
    }

    .card {
        margin-left: 15%;
        margin-right: 15%;
    }

}