* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: .5s;
}

body {
    height: 100%;
}

header {
    background-color: rgb(56, 43, 115);
    color: rgb(255, 255, 255);
    top: 0;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
}

header h1 {
    font-size: 0.8rem;
}

aside {
    background-color: rgb(239, 239, 239);
    position: fixed;
    padding-top: 2rem;
    float: left;
    height: 100%;
    width: 30%;
}

aside ul {
    list-style-type: none;
    text-align: left;
    height: 100%;
    width: 100%;
}

aside ul a {
    display: block;
    box-sizing: border-box;
    line-height: 2.5rem;
    border-top: 1px solid rgba(56, 43, 115, .1);
}

aside li i {
    margin-left: 0.5rem;
    margin-right: 0.1rem;
}

aside li a.active {
    background-color: rgba(85, 58, 205, .15);
}

aside ul a:hover {
    background-color: rgb(255, 255, 255);
}

main {
    height: 100%;
    float: right;
    width: 70%;
    overflow-y: auto;
    display: block;
    padding: 1rem;
    padding-top: 2.5rem;
    line-height: 1.5rem;
}

main h2 {
    margin-bottom: 0.7rem;
    margin-top: 1rem;
}

main h2 i,
main h3 i {
    color: rgb(85, 58, 205);
    margin-right: 0.7rem;
}

main h3 i {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

article i {
    color: rgb(85, 58, 205);
}

main p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

main ul {
    margin-left: 1.2rem;
}

a {
    color: rgb(85, 58, 205);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 162, 255);
    text-decoration: underline;
}

.icon {
    height: 6rem;
    width: auto;
    border-radius: 50%;
}

.mini-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

#profile-picture {
    display: block;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-bottom: 20px;
    border-radius: 50%;
}

.mini-card {
    display: grid;
    grid-template-columns: 30% auto;
}

.card,
.mini-card {
    text-align: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    display: grid;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    padding: 2vh;
    border-radius: 2ch;
}

.mini-card h3,
.mini-card h4,
.mini-card a {
    margin: 0;
    font-size: 90%;
}

.mini-card p {
    color: rgba(56, 43, 115, .7);
    margin: 0;
    font-size: 80%;
}

@media (min-width: 1000px) {
    * {
        font-size: x-large;
    }

    main h2 {
        font-size: xx-large;
    }

    aside {
        width: 20%;
    }

    main {
        width: 80%;
        padding: 3rem;
    }

    aside li i {
        margin-left: 1.2rem;
        margin-right: 0.4rem;
    }

    aside ul a:hover {
        padding-left: 0.6rem;
    }

    .mini-card {
        display: grid;
        grid-template-columns: 10% auto;
        margin-left: 20%;
        margin-right: 20%;
        padding-left: 4vh;
        padding-right: 4vh;
    }

}

@media (min-width: 1400px) {
    * {
        font-size: xx-large;
    }

    main h2 {
        font-size: larger;
    }

    .card {
        margin-top: 1rem;
        margin-left: 12%;
        margin-right: 12%;
        padding-left: 4vh;
        padding-right: 4vh;
    }

}